$color-fondo-w: #F5F5F5;
$color-fondo-d: #212121;


@mixin flex{
    display: flex;
    justify-content: space-between;
    gap: 3;
    order: 2;

}

body{
    height: 100%;
    margin: 0;
    padding-top: 80px;
    background-color: $color-fondo-w;
}

.navbar{
  @include flex;
  background-color: $color-fondo-w;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  
  .iconos-navbar{
    a{
      gap: 5rem;
      color: black;
      font-size: 1rem;
      text-decoration: none;
      margin-right: 10px;
      padding-right: 1rem;
    }
  }
  }

  .cards{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem; 
    padding: 0;
    min-height: 100%;
  }


  //ESTILOS MOBILE

  @media (max-width: 1023px){
      .cards{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem; 
    padding-left: 3rem;
    min-height: 100%;
  }
  }