$color-fondo-w: #F5F5F5;
$color-fondo-d: #212121;


@mixin flex{
    display: flex;
    justify-content: space-between;
    gap: 3;
    order: 2;

}

body{
    height: 100%;
    margin: 0;
    padding-top: 80px;
    background-color: $color-fondo-w;
}

.navbar{
  @include flex;
  background-color: $color-fondo-w;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  
    .navbar-collapse, .dropdown-menu {
    background-color: #f3f3f3; 
    border-color: transparent;
    }

  .iconos-navbar{
    a{
      gap: 5rem;
      color: black;
      font-size: 1rem;
      text-decoration: none;
      margin-right: 10px;
      padding-right: 1rem;
    }
  }
  }

  .cards{
    a{
      color: black;
      background-color: transparent;
      border-color: transparent;
    }
  }


  //ESTILOS MOBILE

    .cards{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem; 
    padding-left: 3rem;
    min-height: 100%;
  }
  

//ESTILOS DESKTOP

@media (min-width: 1024px) {

  .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85vh;
    width: 100%;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 3.5rem;
    padding-left: 0;
    .card{
      min-width: 350px;
      box-sizing: border-box;
    }
  }

  footer{
    display: flex;
    text-align: center;
    font-size: 1rem;
    padding-top: 0%;
    padding-bottom: 2rem;
    display: inline-block; 
    margin: 0%;
    width: auto;
  }
    }
