$color-fondo-claro: #F5F5F5;
$color-fondo-oscuro: #212121;



//estilos mobile

    .categoria{
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem; 
      padding: 0;
      min-height: auto;
      .producto{
        display: flex;
        flex-direction: column;
        height: auto;
    }
  }
    
  